@font-face {
    src: url("./weapons/talina-demo/Talina DEMO.otf");
    font-family: "Talina DEMO", sans-serif;
}

body {
    font-family: "Talina DEMO", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Talina DEMO", sans-serif;
}

.centralized {
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
}


.header {
    background-image: url('header.jpeg');

    width: 400px;
    height: 400px;
    border: 5px solid black;
    text-shadow: black;
    align-items: center;
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
    background-size: cover;
    margin-top: -25px;

}

.headertext {

    color: aliceblue;

    text-shadow: 1px 1px black;
    margin-top: 80px;

}

#cardpage {
    background: linear-gradient(black, orange);
    width: 409px;
    height: 400px;
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
    margin-top: -20px;
}

#cardheader {
    display: block;
    margin: 0px auto 0px auto;
    text-align: center;
    color: white;
}

#cardimg {
    background-image: url(./weapons/card.jpeg);
    width: 150px;
    height: 137px;
    border: 2px solid yellow;
    background-size: cover;
    grid-row: 1 / 3;
    grid-column: 1;
}

.card {
    width: 390px;
    border: 5px solid orange;
    border-radius: 5px;
    background: lightyellow;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.cardtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 2;
}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    grid-row: 2;
    grid-column: 2;

}

.card:hover {
    background-color: black;
    color: white;
}

button:hover {
    font-family: "Talina DEMO";
    background-color: bisque;
    cursor: pointer;
}

button {
    background-color: yellow;
    border-radius: 5px;
}

a {
    text-decoration: none;

}
